
@{
    ViewBag.Title = "Statistika";
}

<h2>Statistika</h2>
<hr />
@using (Html.BeginForm())
{
    if (ViewBag.Error != null)
    {
        Html.RenderAction("Run", "Error", new { @code = ViewBag.Error });
    }
    else
    {
        <div class="form-inline">
            <form>
                <div class="form-group">
                    <label class="control-label col-md-2">Nuo</label>
                    <div class="col-md-10">
                        <input class="form-control" type="date" id="date1" name="periodFrom" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Iki</label>
                    <div class="col-md-10">
                        <input class="form-control" type="date" id="date2" name="periodTo" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Nustatyti" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
        <hr />
        if (ViewBag.Period != null)
        {
            <label class="text-info">@ViewBag.Period</label>
        }
        <br />
        <label class="control-label col-md-2">Vidutinės pajamos</label>
        <label class="text-info col-md-10">0</label>
        <label class="control-label col-md-2">Vidutinės išlaidos</label>
        <label class="text-info col-md-10">@ViewBag.AvgSpendings</label>
        <br />
        <hr />
    }
}