@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>"Fiinasta"</h1>
    <p class="lead">Finansų tvarkymo programa.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Naujienos</h2>
        <p>
            <ul>
                <li>Užbaigtas projekto "Fiinasta" dokumentas</li>
                <li>Atliktos užduotys(ieškoti įrašų, peržiūrėti vidutines išlaidas ir t. t.)</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>D.U.K</h2>
        <p>
            Čia yra tik prototipas, todėl pilno funkcianalumo bei dizaino nėra. Jei kažkas neveikia, galite pranešti klaidą kontaktų lange.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Naudingi puslapiai</h2>
        <p>
            <ul>
                <li><a href="http://www.sodra.lt">SoDra</a></li>
                <li><a href="http://www.vmi.lt">Valstybinė mokesčių inspekcija</a></li>
                <li><a href="http://www.monet.lt">monet.lt</a></li>
            </ul>            
        </p>        
    </div>
</div>