@{
    ViewBag.Title = "Kontaktai";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Didlaukio g. 47<br />
    LT-08303 Vilnius, Lietuva<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:arturas.bonckus@mif.stud.vu.lt">arturas.bonckus@mif.stud.vu.lt</a>
</address>